

.section-image{
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  min-height:40em;
  padding-top: 4em;
	padding-bottom: 4em;
}

.section-image-2{
  background-repeat: no-repeat;
  background-color: rgba(201,246,217,0.42);
  // background-position: center center;
  // background-attachment: fixed;
  background-size: cover;
  color: white;
  min-height:40em;
  padding-top: 2em;
	padding-bottom: 2em;
}

.paddingZero {
  padding: 0
}

.brandNameSpace{
    font-size: 14px;
}

.yellow_btn-background {
  border-radius: 1px;
  background-color: rgb(200, 179, 0);
  margin-top: 5px;
}

.uppercase{
    text-transform: uppercase;
}

div ul li a{
   color:white;

}

/*div ul li a:hover{
   background:none;

}*/

.border-yellow {
    border-bottom-color: rgb(200, 179, 0);
}


.border-show {
  border-width: 0.25px;
  border-color: rgba(248, 248, 248,0.42);
  border-style: solid;
  border-radius: 4px;
  background-color: rgba(18, 18, 18,0.42);
  padding: 3px;
}

.no-border-radius input{
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-width: 0.25px;
    border-color: rgb(248, 248, 248);
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(248, 248, 248);
    opacity: 0.941;
    box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.12);
}

.no-border-radius select{
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-width: 0.25px;
    border-color: rgb(248, 248, 248);
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(248, 248, 248);
    opacity: 0.941;
    box-shadow: 0px 5px 5px 0px rgba(1, 1, 1, 0.12);
}

.no-border-radius button{
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
}

.white-box {
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 5px 20px 0px rgba(1, 1, 1, 0.11);
}

.header-text-gap {
  margin-top: 150px;
  margin-bottom:50px;
  /*line-height: 0.667;*/
  font-size: 30px;
  font-family: "OpenSans";
}

.icon-left
{
  margin-left: 20px;
}

.row-gap div{
    margin-bottom: 30px;
}

.radius-zero{
  border-radius: 0;
}

.green {
  color: green;
}

.yellow{
    border-color: rgb(200, 179, 0);
}

.muter-text {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(107, 107, 107);
  line-height: 1.071;
}

.blog-content-margin
{
  margin-top: 25px;
}

/* unvisited link */
.active a:link {
    // color: white;
}

/* visited link */
.active a:link {
      // color: black;
    border-bottom:  3px solid rgb(200, 179, 0);
}


/* mouse over link */
.active a:link {
    // color: black;
    border-bottom:  3px solid rgb(200, 179, 0);
}


/* selected link */
.active a:link {
    // color: black;
    border-bottom:  3px solid rgb(200, 179, 0);
}

.bgNone {
  background:none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    // color: #fff;
    // border-radius: 1px;
    background-color: rgb(200, 179, 0);
}


.login_left_image {
  background-color: rgba(24,144,66, 0.42);
}

.login-right-section {
    margin: 10% 5% 10% 5%;
}

.login_right {
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 3px 111px 0px rgba(37, 35, 33, 0.58);
}

.black {
  color: black;
}

.login-left-layout
{
    margin: 40% 5% 30% 5%;

}

.border-white
{
  border-bottom: 2px solid white;
  margin: 5% 10% 5% 10%;
}


.login-left-layout-ul li{
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(245, 245, 245);
  line-height: 1.111;
  text-align: left;
  margin-top: 5%;
}
.login-left-layout-ul{
  margin-top: 10%;
}


.padding-zero {
    padding: 0;
}

.bg-brown {
  background-color: #1b150f;
}

// .active>a{
//   background-color: none;
//   border-color: #02fbfb;
// }
// .active>a:hover, .active>a:focus, .active>a:visited{
//   background-color: none;
//   border-color: #292929;
//   // color: #02fbfb;
// }



/*-- Media Query --*/
@media screen and (max-width: 1024px){
  // .section-image{
  //   background-repeat: no-repeat;
  //   background-position: 50% 0;
  //   background-size: auto 100%!important;
  // }
}
@media screen and (max-width: 767px){
  .section-image{
        padding: 0.5em 0.5em 0.5em 0.5em;
  }

  .border-show {
      margin: 0% 20% 0% 20%;

  }

  .border-show input,.border-show select {
    margin-bottom: 3px;
  }

  .border-show button {
    margin-bottom: 4px;
    margin-top: 5px;
    width: 80%;
  }

  .header-text-gap {
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 25px;
    padding: 0 10px 0 10px;
    // font-weight: bold;
  }

  .listNone{

  }


}
@media screen and (max-width: 640px){
  // .border-show {
  //     margin: 10%;
  //
  // }
}
@media screen and (max-width: 480px){


  // .border-show {
  //   width: 70%;
  //   margin-left: 15%;
  //
  // }

  // .border-show input,.border-show select {
  //   margin-bottom: 3px;
  // }
  // .border-show button {
  //   margin-bottom: 4px;
  //   margin-top: 5px;
  //   width: 80%;
  // }

  .marginCustom
  {
      margin: 0 25px 0 25px
  }

  #blog-content .img-custom-margin{

        margin-top: 10%;
  }

  // .section-image{
  //     padding: 0.5em 0.5em 0.5em 0.5em;
  // }




}
@media screen and (max-width: 360px){

}
